/* CSS Begins */

.product-stop-btn-primary{
    width: 66px;
    font-size: 10px;
    background-color: #1d1d1d;
    color: #fff;
    border: 1px solid #ccc;
    outline: none;
    text-align: justify;
  }
  
  .product-stop-btn-secondary{
    width: 66px;
    font-size: 10px;
    background-color: #475069;
    color: #fff;
    border: none;
    outline: none;
    text-align: center;
  }
  
  .header-product{
    font-size: 12px;
    font-weight: bold;
  }
  .sub-header-product{
    font-size: 10px;
  }
  .product-specifics{
    font-size: 10px;
    font-weight: bold;
  }
  .product-dark{
    background-color: #111d28!important;
    color: #ccc!important;
  }
  .product-pending {
    background-color:#475069 ;
    font-size: 13px;
  }
  
  .timeline-with-icons {
    border-left: 1px dashed hsl(0, 17%, 48%);
    position: relative;
    list-style: none;
  }
  
  .timeline-with-icons .timeline-item {
    position: relative;
  }
  
  .timeline-with-icons .timeline-item:after {
    position: absolute;
    display: block;
    top: 0;
  }
  
  .timeline-with-icons .timeline-icon {
    position: absolute;
    left: -48px;
    background-color: hsl(217, 88.2%, 90%);
    color: hsl(217, 88.8%, 35.1%);
    border-radius: 50%;
    height: 31px;
    width: 31px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  